.container {
  padding: 0 2rem;
  margin: 0;
  background-image: url('../public/img1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.overlay{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  color: white;
  padding: 100px;
  letter-spacing: 0px;
}

.caption{
  color: rgb(224, 214, 31);
}

.headline{
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  font-weight: bold;
}

.subheadline{
  opacity: 0.5;
}

@media (max-width: 700px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .main{
    width: 100%;
    padding: 20px;
  }
}
