.navbar{
    padding: 10px;
    z-index: 100;
    color: white;
    
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamMenu{
    display: none;
}



.navitem{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.linkitem{
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 10px 20px 10px 20px;
}
.linkitemButton{
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 10px 20px 10px 20px;
    background-color: red;
}

.logo{
    font-family: 'Cinzel', serif;
    color: red;

}

@media (max-width: 700px) {

    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: black;
    }
    
    .navitem{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 0px;
        
    }
    .mainNav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .linkitem{
        color: rgb(0, 0, 0);
        list-style: none;
        padding: 10px 20px 10px 20px;
    }
    .linkitemButton{
        color: rgb(255, 255, 255);
        list-style: none;
        padding: 10px 20px 10px 20px;
        background-color: red;
    }
    
    .logo{
        font-family: 'Cinzel', serif;
        
    }

    .navitem{
        flex-direction: column;
    }
    .hamMenu{
        display: block;
    }
}