.navbar{
    padding: 20px 10px 10px 100px;
    z-index: 100;
    color: white;
    
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamMenu{
    display: none;
}

.logoAndMenu{
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.navitem{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
.dropDownButton{
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
}
.linkitem{
    color: rgb(255, 0, 0) !important;
    list-style: none;
    padding: 10px 20px 10px 20px;
    background-color: black;
    border-radius: 10px;
    margin-right: 10px;
}
.linkitemButton{
    color: rgb(255, 0, 0) !important;
    list-style: none;
    padding: 10px 20px 10px 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.logo{
    font-family: 'Cinzel', serif;
    color: red;

}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

