.navbar{
    padding: 10px;
    z-index: 100;
    color: white;
    
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamMenu{
    display: none;
}



.navitem{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.linkitem{
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 10px 20px 10px 20px;
}
.linkitemButton{
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 10px 20px 10px 20px;
    background-color: red;
}

.logo{
    font-family: 'Cinzel', serif;
    color: red;

}

